.container {
  margin: 30px;
}

.results {
  width: 70%;
  margin-bottom: 10px;
}

.results-item {
  background-color: rgba(255, 255, 255, 0.35);
  margin: 12px 0;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.result-text {
  color: #a93060;
  font-weight: bold;
  font-size: x-large;
}

.buttons {
  width: 70%;
}

.check-result {
  width: 70%;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px 0;
}

.incorrect {
  background-color: #ec3d3d8c;
}

.correct {
  background-color: #4b8838;
}