<div class="container">
  <mat-spinner *ngIf="questions.length==0"></mat-spinner>

  <form *ngIf="questions.length>0" [formGroup]="triviaForm" (ngSubmit)="onSubmit()">
    <mat-horizontal-stepper formArrayName="questionControls">
      <mat-step *ngFor="let control of questionControls.controls; index as i"
        [stepControl]="questionControls.controls[i]">
        <div>
          <ng-template matStepLabel>Q#{{ i + 1 }}</ng-template>
          <p>{{ questions[i].question }}</p>

          <mat-radio-group fxLayout="column" color="primary" class="radio-group" 
            [formControlName]="i">
              <mat-radio-button fxFlex *ngFor="let option of questions[i].options" [value]="option">
                {{ option }}
              </mat-radio-button>
          </mat-radio-group>

          <button mat-flat-button type="button" matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>





    <!-- <div *ngFor="let control of questionControls.controls; index as i">
      <p>{{ questions[i].question }}</p>
      <input [formControl]="questionControls.controls[i]">
    </div> -->
    <button mat-flat-button>Send</button>
  </form>
  <p>{{ triviaForm.status }}</p>
</div>
 