<div class="container">
  <div *ngIf="questions.length==0 else questionsForm" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner ></mat-spinner>
    <p class="spinner-text">Please wait a moment...</p>
  </div>
  
  <ng-template #questionsForm>
    <form *ngIf="questions.length>0" [formGroup]="triviaForm" (ngSubmit)="onSubmit()">
      <mat-horizontal-stepper class="stepper" formArrayName="questionControls" color="accent">
        <mat-step *ngFor="let control of questionControls.controls; index as i"
          [stepControl]="questionControls.controls[i]">
  
          <ng-template matStepLabel>Q#{{ i + 1 }}</ng-template>
          <p style="margin-top: 36px;">{{ questions[i].question }}</p>
  
          <mat-radio-group fxLayout="column" color="primary" class="radio-group" 
            [formControlName]="i">
              <mat-radio-button fxFlex *ngFor="let option of questions[i].options" class="radio-button" 
                [value]="option">
                {{ option }}
              </mat-radio-button>
          </mat-radio-group>
  
          <ng-container *ngIf="questionControls.controls.length - 1 - i > 0 else sendButton">
            <button mat-button type="button" matStepperPrevious>
              <i class="fas fa-hand-point-left"></i> Previous
            </button>
            <button mat-button type="button" matStepperNext>
              Next <i class="fas fa-hand-point-right"></i>
            </button>
          </ng-container>
  
          <ng-template #sendButton>
            <button mat-flat-button color="primary" [disabled]="!triviaForm.valid">Send!</button>
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </ng-template>
</div>